.logo-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('../img/34.jpg');
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dfbee4;
    padding: 10px 20px;
}

.portfolio-section {
    padding: 50px 20px;
    text-align: center;
    background: #2B2340;      /* dark lilac */
    color: white;
}

.portfolio-section h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.portfolio-section p {
    opacity: 0.8;
    margin-bottom: 30px;
}

/* GRID */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

/* CARD */
.card {
    background: #b8abdf;     /* lilac gelap */
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 15px;
    transition: 0.25s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.25);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3 {
    margin: 12px 0 3px;
    font-size: 15px;
    font-weight: 700;
}

.card span {
    font-size: 13px;
    opacity: 0.8;
}

body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container {
    display: flex;
    gap: 40px;
}

.form-box {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-box input,
.form-box textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.submit-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #333;
}

.output-box {
    width: 380px;
    padding: 20px;
    border: 1px solid #000;
    min-height: 200px;
}
